<div class="bg-black pt-4 px-[34px] min-h-screen">
    <!-- upper box -->
    <div class="flex bg-opacity-60 p-4 rounded-[40px] items-end" [ngStyle]="{'background-color': dominantColor}">
        <div class="flex-row  items-center justify-center">
            <div class="flex flex-row items-center justify-center space-x-4"> 
                <!-- flex-row pour aligner horizontalement -->
                <img [src]="album_icone" id="albumImage" class="rounded-[40px] h-[200px] w-[200px] flex items-center justify-center">

                <!-- lista information-->
                <div class="flex flex-col items-start pt-20">
                    <p class="text-white">Álbum</p>
                    <h1 class="font-montserrat font-bold text-4xl ml-[-2px] text-white">{{ album_name }}</h1>
                    <p class="text-white">{{artista}} | {{ano}} | {{nb_cancione}} canciones | {{tiempo}}</p>
                </div>
            </div>
            <div class=" flex mt-4">
                <img src="assets\play.png" alt="play" (click)="addSongsToQueue(songs[0])" class=" h-[52px] w-[52px]">
                <img src="assets\aleatorio.png" alt="aleatorio" (click)="random()" class=" h-[52px] w-[52px]">
                <img src="assets\anyadirplaylist.png" alt="anadir" (click)="add()" class=" h-[52px] w-[52px]">
            </div>
        </div>
    </div>

    <div class="m-1">       
    <!-- song list -->
    <div class="grid grid-cols-20 gap-4 text-left text-white mt-20">
        <div class=" col-span-6 ">Título</div>
        <div class=" col-span-4 ">Reproducciones</div>
        <div class=" col-span-4">Tu valoración</div>
        <div class=" col-span-4">Valoración Media</div>
        <div class=" col-span-1">Duracion</div>
    </div>
    <hr class="border-t-2 border-white my-2 ">  
        <div *ngFor="let song of songs" class="group grid grid-cols-20 gap-4 text-white items-center hover:bg-gray-500/20 rounded-[10px] transition-transform duration-300 hover:scale-101" (dblclick)="addSongsToQueue(song)">
            <div class="flex m-2 ml-0 col-span-6 "> 
                <div class="relative w-[44px] h-[44px] mr-1 min-w-[44px]" (click)="addSongsToQueue(song)">                
                    <!-- Capa oscura con icono de Play -->
                    <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity rounded-[10px]">
                        <img src="assets/play.png" alt="Play"
                            class="w-6 h-6 cursor-pointer">
                    </div>
                </div>     
                <div class="flex flex-col min-w-0">
                    <p class="font-montserrat font-bold text-lg text-white">
                        {{ song.titulo}}
                    </p>
                    <div class="flex flex-row w-full overflow-hidden whitespace-nowrap ">
                        <p class="text-white text-sm hover:underline min-w-fill max-w-full " [routerLink]="['/inicio/artista/', encodeNombreArtista(song.nombre_artista)]">{{song.nombre_artista}}</p>
                        <ng-container *ngIf="song.artistas_feat != null">
                          <ng-container *ngFor="let ft of getArtistasFeat(song); track by ft">
                            <p class="text-white text-sm inline-block min-w-max">,&nbsp;</p>
                            <p [routerLink]="['/inicio/artista/', encodeNombreArtista(ft)]" 
                              class="text-white text-sm hover:underline inline-block min-w-max">
                              {{ ft }}
                            </p>
                          </ng-container>
                        </ng-container>
                      </div>
                </div> 
            </div>
            <div class="col-span-4">{{ song.n_repros | number:'1.0-0':'es-ES' }}</div>
            <div class="col-span-4 flex"  >
                <img *ngFor="let star of generateStars(song.tu_valoration)" [src]="star" alt="star" class="w-5 h-auto flex-col"/>
             <script src="script.js"></script>
            </div> 
            <div class="col-span-4 flex"  >
                <!-- change condition to agree with the database-->
                <img *ngFor="let star of generateStars(song.valoration_media)" [src]="star" alt="star" class="w-5 h-auto flex-col"/>
             <script src="script.js"></script>
            </div> 
            <div class="col-span-1">{{ song.duracion }}</div>
            <div class=" flex items-center space-x-3   col-span-1">
                <img src="assets\anyadirplaylist.png" alt="anadir" (click)="add()" class=" h-[17px] w-[18px]">
                <img src="assets\heart.png" alt="like" (click)="like(song.id_cancion)" class=" h-[17px] w-[18px]">
                <p (click)="option()" class="font-montserrat font-bold text-xl text-white pb-3 ">...</p> 
            </div>
        </div>
        <hr class="border-t-2 border-white my-4">  
    </div>  
    <p class="font-montserrat  text-l text-white ml-4 mb-5">{{fecha}}</p>  
</div>
