<div class="bg-black pt-4 px-[34px] min-h-screen">

    <!-- upper box -->
    <div class="flex bg-opacity-60 p-4 rounded-[40px] items-end" [ngStyle]="{'background-color': dominantColor}">
        
            <div class="flex-row  items-center justify-center ">
                <div class="flex flex-row items-center justify-center space-x-4 "> <!-- flex-row pour aligner horizontalement -->
                    
                    <img src= {{album_icone}} class=" rounded-[20px] h-[200px] w-[200px] flex items-center justify-center p-4">
                       
                    
                    
                    <!-- lista information-->
                    <div class="flex flex-col items-start pt-20">
                        <p class="text-white">Álbum</p>
                        <h1 class="font-montserrat font-bold text-4xl ml-[-2px] text-white">{{ album_name }}</h1>
                        <p class="text-white">{{artista}}</p>
                    </div>
                </div>
            <div class=" flex mt-4">
                <img src="assets\play.png" alt="play" (click)="playSong(songs[0])" class=" h-[52px] w-[52px]">
                <img src="assets\aleatorio.png" alt="aleatorio" (click)="random()" class=" h-[52px] w-[52px]">
                <img src="assets\anyadirplaylist.png" alt="anadir" (click)="add()" class=" h-[52px] w-[52px]">
                <p (click)="option()" class="font-montserrat font-bold text-4xl text-white h-[58px] w-[31px]">...</p> 
            </div>
    </div>
</div >
    
    
    <div class="m-4">       
    <!-- song list -->
    <div class="grid grid-cols-20 gap-4 text-left text-white mt-20">
    
        <div class=" col-span-6 ">Título</div>
        <div class=" col-span-4 ">Reproducciones</div>
        <div class=" col-span-4">Tu valoración</div>
        <div class=" col-span-4">valoración Media</div>
        <div class=" col-span-1">Duracion</div>
    </div>
    <hr class="border-t-2 border-white my-4 ">  
        <div *ngFor="let song of songs" class="grid grid-cols-20 gap-4  text-white items-center ">
            <div class="flex m-4 ml-0 col-span-6 ">
                
                <div class="flex flex-col min-w-0 max-w-md">
                    <p class="font-montserrat font-bold text-lg text-white">
                        {{ song.title}}
                    </p>
                    <div class="flex flex-row">
                      <p  class="text-white text-sm hover:underline">
                          {{ song.description}}
                     </div>
                </div>
            </div>
            <div class="col-span-4">{{ song.reproducion}}</div>
            <div class="col-span-4 flex"  >
                 <!-- change condition to agree with the database-->
                <ng-container *ngIf="song.tu_valoration === 0; else rated"> 
                    <img src="assets/star_no_rate.png" alt="star" class="w-5 h-auto flex-col" />
                  </ng-container>
                  <ng-template #rated>
               
                <img *ngFor="let star of generateStars(song.tu_valoration)" src="assets/star.png" alt="star" class="w-5 h-auto flex-col"/>
                <script src="script.js"></script>
                  </ng-template>
              
            </div> 
            <div class="col-span-4 flex"  >
                <!-- change condition to agree with the database-->
                <ng-container *ngIf="song.valoration_media === 0; else rated_media"> 
                    <img src="assets/star_no_rate.png" alt="star" class="w-5 h-auto flex-col" />
                  </ng-container>
                
                <ng-template #rated_media>
                <img *ngFor="let star of generateStars(song.valoration_media)" src="assets/star.png" alt="star" class="w-5 h-auto flex-col"/>
                <script src="script.js"></script>
                  </ng-template>
              
                
            </div> 
            <div class="col-span-1">{{ song.duration }}</div>
            <div class=" flex items-center space-x-3   col-span-1">
                <img src="assets\anyadirplaylist.png" alt="anadir" (click)="add()" class=" h-[17px] w-[18px]">
                <img src="assets\heart.png" alt="like" (click)="like()" class=" h-[17px] w-[18px]">
                <p (click)="option()" class="font-montserrat font-bold text-xl text-white pb-3 ">...</p> 
        
            </div>
        
        </div>
        
   
       
  
    
    </div>  
    
   
</div>

