@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import "tailwindcss";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --sponge: #A200F4;
    --spongedark: #341146;
    --buttonhover: #949494;
    --button: #3C3C3C;
    --graybackground: #151515;
    --lightSponge: #d176ff;
    --shadowsponge: 0px 0px 15px #A200F4;
    --spondemidledark: #7407AA;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Ocultar la barra de desplazamiento en todos los navegadores */
.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;              
}
