@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import "tailwindcss";



:root {
    --sponge: #A200F4;
    --buttonhover: #949494;
    --button: #3C3C3C;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Ocultar la barra de desplazamiento en todos los navegadores */
.scrollbar-hide {
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
    scrollbar-width: none;      /* Para Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;              /* Para Chrome, Safari y Opera */
}