/* image */
body{
    background-color: black;
    height: 100%
}
.presentation_block{
    display: flex;
    
    background-color: rgba(200, 200, 200, 0.64);
    opacity: 1;
    border-radius: 40px;
    margin: 40px;
    align-items: flex-end
    }

.artiste_data{
    padding: 30px;

}

.image_artiste{
display: flex;
border-radius: 20px;
padding: 30px;
height: 200px;
width: 200px;


}
h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
color: #FFFFFF;
margin: 10px;
margin-left: 0px;}

h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    margin-bottom: 20px;
    
    }

p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}



.follow_button{
background: #A200F4;
border: 1px solid #FFFFFF;
border-radius: 100px;
margin-right: 10px;
display: flex;
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;}

.button_texte{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}
.width{
    display: flex;
    align-items: center;
}
.song_item {
    display: grid;  
    grid-template-columns: 0.5fr 5fr 2fr 2fr;  
    gap: 10px;  
    align-items: center;  
    width: 100%;
}

.song_icone {
    width: 45px;   
    height: 45px; 
    border-radius: 5px;  
}
.song_icone{
    display: flex;
    width: 45px;
    height: 45px;
}

.song_title{
display: flex;
flex-direction: column;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}

.image_container{
    
    position: relative;
    width: 284px;  
    height: 284px; 
    
}

.image_artiste_heart{
    width: 100%;
    height: auto;
    opacity: 0.25;

}

.heart{

    position: absolute;
    top: 25%; 
    left: 25%; 
    width: 157px; 

    }
.this_is{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
display: flex;
align-items: flex-end;
border-right: 5px ; 
    padding-right: 15px; 
    max-width: 280px; 
    word-wrap: break-word;
color: #FFFFFF;


    }

    .this_is_container {
        display: flex;
        flex-direction: column; 
        align-items:flex-start;
        text-align: center;
        width: 100%;
    }
    .this_is_litte_container{
        display: flex;

    }

.top-songs_this-is_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
}
.button_container{
    display: flex;
    
}
.Lanzamientos_container{margin:50px;
margin-top: 0px;}
.Lanzamientos_button{
background: #151515;

border-radius: 100px;
margin-right: 10px;
margin-bottom: 20px;
display: flex;
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
}

.Lanzamientos_button.active{
    background: #949494;
}
.album-container{
    display: flex;
    margin: 20px;
}*
.album-item{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 10px;
    
}
